CHANGELOG.md
pnpm-lock.yaml
.changeset/*.md
.github/**/*.md

packages/create-app/versions.json

apps/docs/shaders/*

**/test/out/**/*
**/test/fixtures/*.output.*

out
.content-collections

apps/docs/content/docs/ui/museum/*.mdx
!apps/docs/content/docs/ui/museum/index.mdx

examples/openapi/content/docs/(api)/**/*.mdx
!examples/openapi/content/docs/(api)/index.mdx

apps/docs/content/docs/ui/typescript.mdx

.content-collections/**/*

packages/mdx-remote/test/fixtures/**/*.js
packages/mdx-remote/test/fixtures/**/*.json
packages/core/test/fixtures/page-trees/**/*.json
build/