pnpm-lock.yaml
.changeset/*.md
.github/**/*.md

apps/docs/shaders/*

**/out/**/*.mdx
**/test/fixtures/*.output.json

apps/docs/content/docs/ui/museum/events.mdx
apps/docs/content/docs/ui/museum/operations.mdx
apps/docs/content/docs/ui/museum/tickets.mdx