@tailwind base;
@tailwind components;
@tailwind utilities;

.ui {
  --primary: 220deg 91% 54%;
}

.dark .ui {
  --primary: 217deg 92% 76%;
}

.headless {
  --primary: 250 80% 30%;
}

.dark .headless {
  --primary: 250 100% 80%;
}

.mdx {
  --primary: 0 0% 9%;
}

.dark .mdx {
  --primary: 0 0% 100%;
}
