@tailwind components;
@tailwind utilities;

@layer components {
  .animated-border {
    border-radius: inherit;
  }

  .animated-border::before {
    content: '';
    @apply animate-infinite-rotate absolute left-[50%] top-[50%] block w-[600px] translate-x-[-50%] translate-y-[-50%] bg-[conic-gradient(var(--tw-gradient-stops))] pb-[600px];
  }
}

:root {
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
}

.dark {
  --background: 0 0% 1%;
  --card: 0 0% 4%;
  --muted: 0 0% 8%;
  --accent: 0 0% 10.9%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 85.7% 97.3%;
}
