@import './codeblock.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply nd-border-border;
}

body {
  @apply nd-bg-background nd-text-foreground;
}

[data-line] {
  @apply nd-px-4 nd-border-l-2 nd-border-transparent;
}

[data-highlighted-line] {
  @apply nd-border-primary nd-bg-primary/10;
}

[data-highlighted-chars] {
  @apply nd-bg-primary/10 nd-border-b-2 nd-border-primary;
}

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 45.1%;
  --card: 0 0% 99.7%;
  --card-foreground: 0 0% 3.9%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --accent: 0 0% 94.1%;
  --accent-foreground: 0 0% 9%;
  --ring: 0 0% 63.9%;
}

.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 60.9%;
  --popover: 0 0% 7%;
  --popover-foreground: 0 0% 98%;
  --card: 0 0% 8%;
  --card-foreground: 0 0% 98%;
  --border: 0 0% 18%;
  --input: 0 0% 14.9%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;
  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;
  --ring: 0 0% 14.9%;
}

/* image-zoom */
[data-rmiz] {
  display: block;
  position: relative;
}
[data-rmiz-ghost] {
  pointer-events: none;
  position: absolute;
}
[data-rmiz-btn-zoom],
[data-rmiz-btn-unzoom] {
  display: none;
}
[data-rmiz-content='found'] img,
[data-rmiz-content='found'] svg,
[data-rmiz-content='found'] [role='img'],
[data-rmiz-content='found'] [data-zoom] {
  cursor: zoom-in;
}
[data-rmiz-modal][open] {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: transparent;
  max-width: none;
  max-height: none;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
}

[data-rmiz-modal]:focus-visible {
  outline: none;
}

[data-rmiz-modal-overlay] {
  transition: background-color 0.3s;
  position: absolute;
  inset: 0;
}
[data-rmiz-modal-overlay='hidden'] {
  background-color: transparent;
}
[data-rmiz-modal-overlay='visible'] {
  background-color: hsl(var(--background) / 0.8);
}
[data-rmiz-modal-content] {
  width: 100%;
  height: 100%;
  position: relative;
}

[data-rmiz-modal]::backdrop {
  display: none;
}

[data-rmiz-modal-img] {
  cursor: zoom-out;
  image-rendering: high-quality;
  transform-origin: 0 0;
  transition: transform 0.3s;
  position: absolute;
}
@media (prefers-reduced-motion: reduce) {
  [data-rmiz-modal-overlay],
  [data-rmiz-modal-img] {
    transition-duration: 0.01ms !important;
  }
}
