.fd-codeblock pre > * {
  display: grid;
  font-size: 13px;
}

.shiki:not(.not-fumadocs-codeblock *) {
  code span {
    color: var(--shiki-light);
  }

  code .diff.remove {
    background-color: var(--fd-diff-remove-color);
    opacity: 0.7;
  }

  code .diff::before {
    position: absolute;
    left: 6px;
  }

  code .diff.remove::before {
    content: '-';
    color: var(--fd-diff-remove-symbol-color);
  }

  code .diff.add {
    background-color: var(--fd-diff-add-color);
  }

  code .diff.add::before {
    content: '+';
    color: var(--fd-diff-add-symbol-color);
  }

  code .diff {
    margin: 0 -16px;
    padding: 0 16px;
    position: relative;
  }

  .highlighted {
    margin: 0 -16px;
    padding: 0 16px;
    background-color: color-mix(
      in oklab,
      var(--color-fd-primary) 10%,
      transparent
    );
  }

  .highlighted-word {
    padding: 1px 2px;
    margin: -1px -3px;
    border: 1px solid
      color-mix(in oklab, var(--color-fd-primary) 50%, transparent);
    background-color: color-mix(
      in oklab,
      var(--color-fd-primary) 10%,
      transparent
    );
    border-radius: 2px;
  }
}

.dark .shiki:not(.not-fumadocs-codeblock *) {
  code span {
    color: var(--shiki-dark);
  }
}
