.shiki:not(.not-fumadocs-codeblock *) {
  code span {
    color: var(--shiki-light);
  }

  code .diff::before {
    position: absolute;
    left: 6px;
  }

  code .diff.remove {
    opacity: 0.7;
    @apply bg-fd-diff-remove;
  }

  code .diff.remove::before {
    content: '-';
    @apply text-fd-diff-remove-symbol;
  }

  code .diff.add {
    @apply bg-fd-diff-add;
  }

  code .diff.add::before {
    content: '+';
    @apply text-fd-diff-add-symbol;
  }

  code .diff {
    width: calc(100% + 8 * var(--spacing));

    @apply relative inline-block -mx-4 px-4;
  }

  .highlighted {
    width: calc(100% + 8 * var(--spacing));

    @apply inline-block -mx-4 px-4 bg-fd-primary/10;
  }

  .highlighted-word {
    padding: 1px 2px;
    margin: -1px -3px;
    border: 1px solid
      color-mix(in oklab, var(--color-fd-primary) 50%, transparent);
    background-color: color-mix(
      in oklab,
      var(--color-fd-primary) 10%,
      transparent
    );
    border-radius: 2px;
  }
}

.dark .shiki:not(.not-fumadocs-codeblock *) {
  code span {
    color: var(--shiki-dark);
  }
}
