.shiki:not(.not-fumadocs-codeblock *) {
  code span {
    color: var(--shiki-light);
  }

  code .line {
    min-height: 1em;
    @apply relative inline-block w-full;
  }

  &[data-line-numbers] code .twoslash-meta-line {
    @apply ml-7;
  }

  &[data-line-numbers] code .line {
    width: calc(100% - 7 * var(--spacing));
    counter-increment: line;
    @apply ml-7;

    &::after {
      position: absolute;
      content: counter(line);
      @apply top-0 -left-5 text-fd-muted-foreground/60;
    }
  }

  code .diff::before {
    position: absolute;
    left: var(--spacing);
  }

  code .diff.remove {
    opacity: 0.7;
    @apply bg-fd-diff-remove;
  }

  code .diff.remove::before {
    content: '-';
    @apply text-fd-diff-remove-symbol;
  }

  code .diff.add {
    @apply bg-fd-diff-add;
  }

  code .diff.add::before {
    content: '+';
    @apply text-fd-diff-add-symbol;
  }

  code .diff {
    @apply relative;
  }

  .highlighted {
    @apply bg-fd-primary/10;
  }

  .highlighted-word {
    padding: 1px 2px;
    margin: -1px -3px;
    border: 1px solid
      color-mix(in oklab, var(--color-fd-primary) 50%, transparent);
    background-color: color-mix(
      in oklab,
      var(--color-fd-primary) 10%,
      transparent
    );
    border-radius: 2px;
  }
}

.dark .shiki:not(.not-fumadocs-codeblock *) {
  code span {
    color: var(--shiki-dark);
  }
}
