@import './neutral.css';

@theme {
  --color-fd-primary: oklch(0.487 0.083 262.691);
  --color-fd-article: hsl(0, 0%, 97%);
}

:root {
  letter-spacing: -0.25px;
  --fd-layout-width: 1600px;
  --fd-page-width: 1400px;
}

.dark {
  --color-fd-primary: oklch(0.902 0.0461 259.51);
  --color-fd-article: hsl(0, 0%, 7.04%);
  --color-fd-background: hsl(0, 0%, 5.04%);
}

@variant md {
  #nd-docs-layout {
    --fd-docs-row-3: calc(var(--fd-docs-row-2) + 2.5 * var(--spacing));

    #nd-page {
      @apply bg-fd-article rounded-xl border shadow-xl m-4;
    }

    [data-toc-popover-trigger],
    [data-toc-popover-content] {
      @apply px-4;
    }

    [data-toc-popover] {
      top: calc(var(--fd-docs-row-1) + 2.5 * var(--spacing));
      @apply mx-4 mt-2.5;

      header {
        transform-origin: top center;
        @apply border rounded-xl shadow-lg transition-[margin] has-data-[active=true]:-mx-2 has-data-[active=true]:bg-fd-popover/80;
      }
    }
  }

  #nd-notebook-layout {
    #nd-page article {
      @apply bg-fd-article rounded-xl border shadow-xl mx-6 my-4;
    }

    [data-toc-popover] {
      border: none;
    }
  }
}

#nd-sidebar {
  --color-fd-muted: inherit !important;
  --color-fd-secondary: inherit !important;
  --color-fd-muted-foreground: inherit !important;
  @apply bg-fd-card;
}

#nd-sidebar[data-collapsed='false'] {
  border: none;
  @apply bg-fd-background;
}
