@source '../../dist/layouts/docs/**/*.js';

#nd-docs-layout {
  --fd-sidebar-width: 0px;
  --fd-toc-width: 0px;
  --fd-layout-width: 1600px;

  --fd-docs-toc-top: 0px;
  --fd-docs-toc-popover-top: calc(14 * var(--spacing));
  --fd-docs-sidebar-top: 0px;
  --fd-docs-nav-top: 0px;
  --fd-docs-sidebar-mobile-offset: 100%;
}

[dir='rtl'] #nd-docs-layout {
  --fd-docs-sidebar-mobile-offset: -100%;
}

@variant md {
  #nd-docs-layout {
    --fd-sidebar-width: 268px;
    --fd-docs-toc-popover-top: 0px;
  }
}

@variant xl {
  #nd-docs-layout {
    --fd-toc-width: 268px;
  }
}
