@source '../../dist/layouts/docs/**/*.js';

@layer base {
  #nd-docs-layout {
    --fd-sidebar-width: 0px;
    --fd-toc-width: 0px;
    --fd-layout-width: 1600px;
    --fd-page-width: 900px;

    --fd-docs-row-1: var(--fd-banner-height, 0px);
    --fd-docs-row-2: calc(14 * var(--spacing) + var(--fd-docs-row-1));
    --fd-docs-row-3: calc(10 * var(--spacing) + var(--fd-docs-row-2));
    --fd-docs-height: 100dvh;

    --fd-sidebar-mobile-offset: 100%;
  }

  #nd-docs-layout:has(#nd-page[data-full='true']) {
    --fd-page-width: 1200px;
  }

  [dir='rtl'] #nd-docs-layout {
    --fd-sidebar-mobile-offset: -100%;
  }

  @variant md {
    #nd-docs-layout {
      --fd-sidebar-width: 268px;
      --fd-docs-row-2: var(--fd-docs-row-1);
    }
  }

  @variant xl {
    #nd-docs-layout {
      --fd-toc-width: 268px;
      --fd-docs-row-3: var(--fd-docs-row-2);
    }
  }
}
