---
import type { TableOfContents } from 'fumadocs-core/dist/server';
import { type CollectionEntry, getCollection } from 'astro:content';
import { render } from 'astro:content';
import { Layout } from '../../layouts/layout';
import defaultMdxComponents from 'fumadocs-ui/mdx';
import { ClientRouter } from 'astro:transitions';
import Pre from '../../components/mdx/pre.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, headings } = await render(post);

const toc: TableOfContents = headings.map((heading) => ({
  title: heading.text,
  url: '#' + heading.slug,
  depth: heading.depth,
}));
---

<html>
  <head>
    <ClientRouter />
  </head>
  <body>
    <Layout client:load transition:persist>
      <a href="/blog/using-mdx">MDX</a>
      <a href="/blog/first-post">First</a>
      <Content components={{ ...defaultMdxComponents, pre: Pre }} />
    </Layout>
  </body>
</html>
