---
import '../styles/global.css';
import { type CollectionEntry } from 'astro:content';
import { ClientRouter } from 'astro:transitions';

type Props = CollectionEntry<'blog'>;
---

<html lang="en">
  <head>
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
