@import './lib/base.css';

/* TODO: remove them on next major */
@import './layouts/flux.css';
@import './layouts/docs.css';
@import './layouts/home.css';
@import './layouts/notebook.css';

@source '../dist/*.js';
@source '../dist/{components,contexts,provider,utils}/**/*.js';
@source '../dist/layouts/shared/**/*.js';
